div#player {
  width: 20px;
  height: 20px;
  background: url("tank.png");
  background-size: cover;

  transition:         all 50ms cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.arena-of-battle {
  height: 80%;
  width: 70%;
  background: black;
  position: relative;
  border: white 2px dashed;
}

.bullet {
  position: absolute;
  width: 9px;
  height: 8px;
  background: url("bullet3.png") center repeat;
}
.fly:hover {
  transition:all 5000ms cubic-bezier(0.215, 0.61, 0.355, 1);

}